* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.top-banner h1 {
  font-size: 50px;
  color: #ffffff;
}
.top-banner p {
  color: #ffffff;
}
.overlay {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}
.top-banner {
  background-image: url("images/donation1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.name-highlight {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 20px 30px;
  border-radius: 5px;
}

section {
  height: 700px;
}
.second-banner h1 {
  font-size: 50px;
  color: black;
}
.second-banner p {
  color: #707070;
}
.money-flex {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}
.money {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  font-weight: bolder;
}
#donate {
  border: 2px solid red;
  color: #ff5959;
  background-color: #ffeeee;
}
.input-text {
  border: none;
  border-bottom: 2px solid silver;
  width: 40%;
  text-align: center;
}
.cart {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}
.overlay h1 {
  font-size: 50px;
}
.div1 {
  background-color: #b8d7db;
}
.div2 {
  background-color: #ffeeee;
}
.div3 {
  background-color: #fff4d6;
}
.half-width h1 {
  font-size: 50px;
}
.half-width {
  width: 40%;
  margin: 3%;
  padding: 2%;
  float: left;
}
.half-width img {
  width: 100%;
  border-radius: 5px;
}
.update {
  background-color: #fff4d6;
  width: 70%;
  height: 250px;
  border-radius: 10px;
}
.update input {
  margin-left: 20px;
  border: none;
  background-color: #aa9f9f;
  padding: 20px 30px;
  border-radius: 5px;
  width: 42%;
}
.last-paragraph p {
  color: #707070;
}
.footer-part {
  background-color: #0b0d17;
  height: 200px;
  color: #fff4d6;
}
.footer-part h3 {
  color: #ff5959;
}
.footer-part a {
  color: #707070;
}
